name: Python Tests

on:
  push:
    branches: [ main, develop, feature/* ]
  pull_request:
    branches: [ main, develop ]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.12"]

    steps:
    - uses: actions/checkout@v3

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}

    # MPI for mpi4py
    - name: Install System Dependencies (MPI)
      run: |
        sudo apt-get update
        sudo apt-get install -y libopenmpi-dev openmpi-bin

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        # On installe pytest pour lancer tes tests
        pip install pytest pytest-cov

    - name: Run tests
      run: |
        # On lance pytest
        pytest tests/ -v

    # check Docker
    - name: Verify Docker Build
      run: docker build . --file Dockerfile